[mysqld]
port = $mainPort
bind-address = 0.0.0.0

character-set-server = utf8
collation-server = 'utf8_unicode_ci'

local-infile=0
max_connections=150
query_cache_limit=256K
read_buffer_size=1M
join_buffer_size=1M
sort_buffer_size=2M
key_buffer_size=64M
max_allowed_packet=32M
innodb_buffer_pool_size=32M
